<div id="lineContainer" class="container">
    <div id="lineRow" class="row">
        <div id="lineCol-sm-8" class="col-sm-8">
            <!-- <div class="und-col "style="min-height: 600px !important;"> -->
            <div id="line-und-col" class="und-col">
                <!-- <svg id="pieChart1" width=500 height=500> -->
                <!-- <foreignObject width="400" height="100" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
                <!-- <foreignObject width="1300" height="1000" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->

                <div id="lineInnerContainer" class="container">
                    <h3 id="LineChartHead">The 10 Countries in Military Expenditure(% of GDP) </h3>
                    <h4>  from 2008 to 2017</h4>
                    <!-- <h5 id="lineChartHiHead">In 2016-Alphabetical Order</h5> -->



                </div>

                <div id="LineChart1Div"></div>

                <!-- </foreignObject> -->
                <!-- </svg> -->
                <!-- <svg id="pieChart1" width="1300" height="600"></svg> -->

            </div>
            <div id="tooltip-line1" class="hidden-line1">
                <p id="planet-info-line1">Planet Info</p>
            </div>
        </div>

        <div>
            <div id="lineCol-sm-4" class="col-sm-4">
                <!-- <div class="card" style="width: 18rem;"> -->
                        <div id="lineCard" class="card">
                                <div id="lineCardBody" class="card-body">
                                    <h4 id="card-name-line1" class="card-title">Generic Information</h4>
                                    <!-- <h6 class="card-subtitle mb-2 text-muted">Data</h6> -->
                                    <h6 id="card-subtitle1F" class="card-subtitle mb-2 text-muted">Data</h6>
                                    <p id="card-desc-line1F" class="card-text">
                                        <!-- This data is about military expenditure for the 5 countries. Some information is from <a href="https://en.wikipedia.org/wiki/Military_budget">this wikipedia</a>
                                                          U.S.A has the highest average. On the other hand, China has the lowest value among the 5 countries. -->
            
                                        This data is about military expenditure of top spenders. The data set is provided by <a
                                            href="https://www.sipri.org/databases">the
                                            SIPRI.</a>
            
                                    </p>
                                    <h6 id="card-subtitle2F" class="card-subtitle mb-2 text-muted">How to interact with this line
                                        chart</h6>
                                    <p id="card-desc2-line1F" class="card-text">
                                        By using the filter button and sorting button, you can filter and sort countries.  
                                    </p>
                                    <!-- <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6>
                                                        <p id="card-desc-line1" class="card-text">
                                                          By mouseovering the each line. you can check information of each country.
                                            
                                                        </p> -->
                                </div>
                            </div>
            </div>
        </div>

    </div>
</div>