<br><br>
<div>
<svg id="chart-svg09" width='1500' height='700'></svg>
</div>
<br><br><br>

<div>
            <div id="linCol-sm-4" class="col-sm-12">
                <div id="linCard" class="card">
                    <div id="linCardBody" class="card-body">
                        <h4 id="card-name-lin1" class="card-title">
                            Description and Usage
                        </h4>
                        <p id="card-desc-lin1" class="card-text">
                          The Total Trade Value between 1870 and 2014 for the top 10 CINC Score countries is represented in the form of a responsive line chart along with a legend.
                          When the mouse hovers a particular country in the legend, the corresponding country's line pops-out and is highlighted.
                          Also, for each year the corresponding data is shown as a point on the line. On hovering the mouse over the point, the corresponding country and the trade value is shown using a tooltip.

                        </p>
                    </div>
                </div>
