<!-- laCountyChorble clude -->
<div id="laCountyChorContainer" class="container">
    <div id="laCountyChorRow" class="row">
        <div id="laCountyChorCol-sm-8" class="col-sm-8">
            <!-- <div class="und-col "style="min-height: 600px !important;"> -->
            <div id="laCountyChor-und-col" class="und-col">
                <!-- <svg id="pieChart1" width=500 height=500> -->
                <!-- <foreignObject width="400" height="100" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
                <!-- <foreignObject width="1300" height="1000" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
  
                
  
                <div id="laCountyChorInnerContainer" class="container">
                    <h3 id="laCountyChorChartHead">Cities where population is smaller than 10000 in county of Los Angeles </h3>
                    <h4>  In 2015</h4>
  
                    <svg id="laCountyChor" width="1000" height="700" style="background-color: white"></svg>
                    
  
  
                </div>
  
                <!-- <div id="laCountyChorbleChart1Div"></div> -->
  
                <!-- </foreignObject> -->
                <!-- </svg> -->
                <!-- <svg id="pieChart1" width="1300" height="600"></svg> -->
  
            </div>
            <!-- <div id="tooltip-laCountyChor1" class="hidden-laCountyChor1">
                <p id="planet-info-laCountyChor1">Planet Info</p>
            </div> -->
        </div>
  
        <div>
            <div id="laCountyChorCol-sm-4" class="col-sm-4">
                <!-- <div class="card" style="width: 18rem;"> -->
                <div id="laCountyChorCard" class="card">
                    <div id="laCountyChorCardBody" class="card-body">
                        <h4 id="card-name-laCountyChor1" class="card-title">
                            Description 
                        </h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6> -->
                        <p id="card-desc-laCountyChor1" class="card-text">
                            In this map, I exclude explanation about "Unincorporated Area."
                            Among cities in county of los angeles, there are many people. In this map, I want to show which cities have small population in county of Los Angeles. 
                            If you look at the west part of LA county, there are two cities, which are Hidden hills and Westlake village.
                            In Santa Catalina Island, Avalon has small population. 
                            There is the city of Rolling Hills, which is well known for hsighest median house value. This city also has small population.
                            When you see the east side of LA county, there are four cities which have small population. They are Bradbury, Irwindale, Industry, and La habra Heights.
  
                        </p>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
  </div>
  
  
  
  
  
  
  