<!-- worldChorble clude -->
<div id="worldChorContainer" class="container">
    <div id="worldChorRow" class="row">
        <div id="worldChorCol-sm-8" class="col-sm-8">
            <!-- <div class="und-col "style="min-height: 600px !important;"> -->
            <div id="worldChor-und-col" class="und-col">
                <!-- <svg id="pieChart1" width=500 height=500> -->
                <!-- <foreignObject width="400" height="100" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
                <!-- <foreignObject width="1300" height="1000" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->



                <div id="worldChorInnerContainerMilShare" class="container">
                    <!-- <h3 id="worldChorChartHead">The share of world military expenditure (%) using Chorepleth Map</h3> -->
                    <h3 id="worldChorChartHeadMilShare">The top 10 Military Spenders In 2017</h3>
                    <!-- <h4> In 2016</h4> -->
                    <svg id="worldProp" width="1000" height="600" style="background-color: white"></svg>



                    
                    <!-- <ul class="nav nav-pills mb-3" id="pills-tab-chomilgdpMilShare" role="tablist"> -->
                        <!-- <li class="nav-item"> -->
                            <!-- <a class="nav-link active" id="pills-mids-tab-chomilgdpMilShare" data-toggle="pill" href="#pills-midsMilShare" -->
                                <!-- role="tab" aria-controls="pills-midsMilShare" aria-selected="true">Chorepleth Map</a> -->
                        <!-- </li> -->
                        <!-- <li class="nav-item"> -->
                            <!-- <a class="nav-link" id="pills-wars-tab-chomilgdpMilShare" data-toggle="pill" href="#pills-warsMilShare" -->
                                <!-- role="tab" aria-controls="pills-wars" aria-selected="false">Proportional Map</a> -->
                        <!-- </li> -->
                        <!-- <li class="nav-item">
                                <a class="nav-link" id="pills-trade-tab-chomilgdp" data-toggle="pill" href="#pills-trade" role="tab"
                                    aria-controls="pills-trade" aria-selected="false">Trade</a>
                            </li> -->
                        <!-- <li class="nav-item">
                                <a class="nav-link" id="pills-temp-tab" data-toggle="pill" href="#pills-temp" role="tab" aria-controls="pills-temp" aria-selected="false">temp</a>
                            </li> -->
                        <!-- <button class="btn btn-default" id="pills-temp-tab">Reset Map</button> -->
                    <!-- </ul> -->
                    <!-- <div class="tab-content" id="pills-tabContentMilShare"> -->
                        <!-- <div class="tab-pane fade show active" id="pills-midsMilShare" role="tabpanel" aria-labelledby="pills-mids-tab-chomilgdpMilShare"> -->
                            <!-- <div id="chomilgdp"></div> -->
                            <!-- <svg id="worldChor" width="1000" height="600" style="background-color: white"></svg> -->
                        <!-- </div> -->
                        <!-- <div class="tab-pane fade" id="pills-warsMilShare" role="tabpanel" aria-labelledby="pills-wars-tab-chomilgdpMilShare"> -->
                            <!-- <div id="promilgdp"></div> -->
                            <!-- <svg id="worldProp" width="1000" height="600" style="background-color: white"></svg> -->
                        <!-- </div> -->
                        <!-- <div class="tab-pane fade" id="pills-trade" role="tabpanel" aria-labelledby="pills-trade-tab-chomilgdp">
                                <div id="barchartTrades"></div>
                            </div> -->
                        <!-- <div class="tab-pane fade" id="pills-temp" role="tabpanel" aria-labelledby="pills-temp-tab">
                                <div id="barchartMIDs"></div>
                            </div> -->

                    <!-- </div> -->
                    <!-- <svg id="worldChor" width="1000" height="600" style="background-color: white"></svg> -->



                </div>




                <!-- <div id="worldChorbleChart1Div"></div> -->

                <!-- </foreignObject> -->
                <!-- </svg> -->
                <!-- <svg id="pieChart1" width="1300" height="600"></svg> -->

            </div>
            <!-- <div id="tooltip-worldChor1" class="hidden-worldChor1">
                <p id="planet-info-worldChor1">Planet Info</p>
            </div> -->
        </div>

        <div>
            <div id="worldChorCol-sm-4" class="col-sm-4">
                <!-- <div class="card" style="width: 18rem;"> -->
                <div id="worldChorCard" class="card">
                    <div id="worldChorCardBody" class="card-body">
                        <h4 id="card-name-worldChor1" class="card-title">
                            Description
                        </h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6> -->
                        <p id="card-desc-worldChor1" class="card-text">
                            The share of U.S.A has about 35%. Compared to other countries, it has dark blue. In asia,
                            the color of China is bluer than the color of other countries near it.
                            In Europe, three countries, which are France, Germany, and Great britain, show the color.
                            Based on their color, we can know their shares are smaller than that of U.S.A and china.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>