<!-- Pie chart -->
<div id="pieContainer" class="container">
  <div id="pieRow" class="row">
    <div id="pieCol-sm-8" class="col-sm-8">
      <!-- <div class="und-col "style="min-height: 600px !important;"> -->
      <div id="pie-und-col" class="und-col">
        <!-- <svg id="pieChart1" width=500 height=500> -->
        <!-- <foreignObject width="400" height="100" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
        <!-- <foreignObject width="1300" height="1000" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->

        <div id="pieInnerContainer" class="container">
          <h3 id="pieChartHead">Trade Dependency between each dyadic relationship and War</h3>
          <!-- <h4 id="pieChartHead">In 2014</h4> -->
          <!-- <h5 id="barChartHiHead">In 2016-Alphabetical Order</h5> -->


        </div>

        <div id="chart"></div>

        <div id="PieChart1Div"></div>

        <!-- </foreignObject> -->
        <!-- </svg> -->
        <!-- <svg id="pieChart1" width="1300" height="600"></svg> -->

      </div>
      <!-- <div id="tooltip-pie1" class="hidden-pie1">
              <p id="planet-info-pie1">Planet Info</p>
          </div> -->
    </div>

    <div>
      <div id="pieCol-sm-4" class="col-sm-4">
        <!-- <div class="card" style="width: 18rem;"> -->
        <div id="pieCard" class="card">
          <div id="pieCardBody" class="card-body">
            <h4 id="card-name-pie1" class="card-title">Generic Information</h4>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Data</h6> -->
            <h6 id ="card-subtitle1" class="card-subtitle mb-2 text-muted" >Data</h6>
            <p id="card-desc-pie1" class="card-text">
              <!-- This data is about military expenditure for the 5 countries. Some information is from <a href="https://en.wikipedia.org/wiki/Military_budget">this wikipedia</a>
              U.S.A has the highest average. On the other hand, China has the lowest value among the 5 countries. -->
              
              This data is about war records between two countries from 1823 to 2003. The data set is provided by <a href="http://www.correlatesofwar.org/">this the Correlates of War project</a>
              
            </p>
            <h6 id ="card-subtitle2" class="card-subtitle mb-2 text-muted">How to interact with this pie chart</h6>
            <p id="card-desc2-pie1" class="card-text">
                By mouseovering the each pie, you can check the percentage. If "Less than 0.1" represents that War outbreaks between two countries whose maximum value of trade dependency is less than 0.1.
            </p>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6>
            <p id="card-desc-pie1" class="card-text">
              By mouseovering the each pie. you can check information of each country.

            </p> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>