<!-- Bubble clude -->
<div id="bubwtContainer" class="container">
    <div id="bubwtRow" class="row">
        <div id="bubwtCol-sm-8" class="col-sm-8">
            <!-- <div class="und-col "style="min-height: 600px !important;"> -->
            <div id="bubwt-und-col" class="und-col">
                <!-- <svg id="bubChart1" width=500 height=500> -->
                <!-- <foreignObject width="400" height="100" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
                <!-- <foreignObject width="1300" height="1000" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->

                <div id="bubwtInnerContainer" class="container">
                    <h3 id="bubwtChartHead">Countries at Wars from 1823 to 2003 </h3>
                    <!-- <h4>  In 2016</h4> -->
                    <!-- <h5 id="barChartHiHead">In 2016-Alphabetical Order</h5> -->


                </div>

                <div id="bubwtbleChart1Div"></div>

                <!-- </foreignObject> -->
                <!-- </svg> -->
                <!-- <svg id="bubChart1" width="1300" height="600"></svg> -->

            </div>
            <div id="tooltip-bubwt1" class="hidden-bubwt1">
                <p id="planet-info-bubwt1">Planet Info</p>
            </div>
        </div>

        <div>
            <div id="bubwtCol-sm-4" class="col-sm-4">

                <!-- <div id="bubCard" class="card">
                  <div id="bubCardBody" class="card-body">
                      <h4 id="card-name-bub1" class="card-title">
                          Description 
                      </h4>
                      
                      <p id="card-desc-bub1" class="card-text">
                        From 1910-1922, about 9 countries per year were at wars. The major war in this period is World War 1.   
                        Durning 1936-1948, about 10 countries per year were at wars. During this period, Human beings experienced World War2. 
                        After these period, many leaders in each country have made UN, which means they have tried make world peace. 
                        We can check that compared to the former bubbles, the 1988-2003 bubble is small. 

                      </p>
                  </div>
              </div> -->

                <div id="bubwtCard" class="card">
                    <div id="bubwtCardBody" class="card-body">
                        <h4 id="card-name-bubwt1" class="card-title">Generic Information</h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Data</h6> -->
                        <h6 id="card-subtitle1-bubwt1" class="card-subtitle mb-2 text-muted">Data</h6>
                        <p id="card-desc-bubwt1" class="card-text">
                            <!-- This data is about military expenditure for the 5 countries. Some information is from <a href="https://en.wikipedia.org/wiki/Military_budget">this wikipedia</a>
                        U.S.A has the highest average. On the other hand, China has the lowest value among the 5 countries. -->

                            This data is about how many countries were at wars in each period from 1823 to 2003. The
                            data set is
                            provided by <a href="http://www.correlatesofwar.org/">this the Correlates of War project.</a>

                        </p>
                        <h6 id="card-subtitle2-bubwt" class="card-subtitle mb-2 text-muted">How to interact with this bub
                            chart</h6>
                        <p id="card-desc2-bubwt1" class="card-text">
                            By mouseovering the each bubble, you can check the number of countries at wars in each
                            period.
                        </p>

                        
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6>
                      <p id="card-desc-bub1" class="card-text">
                        By mouseovering the each bub. you can check information of each country.
          
                      </p> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>