<h2>
  Bubble Chart for Composite Index of National Capability (CINC) in 2012
</h2>

<div>
    <svg id='chart-svg04' width='1400' height=700></svg>
</div>

<div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Description and Usage
                        </h4>
                        <p class="card-text">
                          The Composite Index of National Capability (CINC)is a statistical measure of national power.
                          It uses an average of percentages of world totals in six different components.
                          The components represent demographic, economic, and military strength.
                          The Composite Index of National Capability (CINC) of the countries is represented in the form of a bubble chart using circle packing.
                          When the mouse hovers a bubble, the tooltip shows the Composite Index of National Capability (CINC) Score for that country.

                        </p>
                    </div>
                </div>
