<h2>
  Bubble Chart for Military Personnel Data in 2012
</h2>

<div>
    <svg id='chart-svg02' width='1400' height=700></svg>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Description and Usage
                        </h4>
                        <p class="card-text">
                          The total number of Military Personnel of the countries is represented in the form of a bubble chart using circle packing.
                          When the mouse hovers a bubble, the tooltip shows the Military Personnel (in thousands) for that country.

                        </p>
                    </div>
                </div>
