<!-- scatter chart -->
<div id="scatterContainer" class="container">
  <div id="scatterRow" class="row">
    <div id="scatterCol-sm-8" class="col-sm-8">
      <!-- <div class="und-col "style="min-height: 600px !important;"> -->
      <div id="scatter-und-col" class="und-col">
        <!-- <svg id="scatterChart1" width=500 height=500> -->
        <!-- <foreignObject width="400" height="100" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
        <!-- <foreignObject width="1300" height="1000" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->

        <h3 id="scatterChartHead">Countries at Wars and International Trade</h3>  
        <!-- <ul class="nav nav-pills mb-3" id="pills-tab-scatLas" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-mids-tab-scatLas" data-toggle="pill" href="#pills-mids" role="tab"
                    aria-controls="pills-mids" aria-selected="true">Total Trade amount</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-wars-tab-scatLas" data-toggle="pill" href="#pills-wars" role="tab"
                    aria-controls="pills-wars" aria-selected="false">The number of Countries</a>
            </li>
            
            
        </ul> -->
        <!-- <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-mids" role="tabpanel" aria-labelledby="pills-mids-tab-scatLas">
                
                <div id="scatterChart1Div"></div>
            </div>
            <div class="tab-pane fade" id="pills-wars" role="tabpanel" aria-labelledby="pills-wars-tab-scatLas">
                <div id="scatterChart2Div"></div>
            </div>

        </div> -->






        <div id="scatterChart1Div"></div>





        







        <!-- <div id="scatterInnerContainer" class="container"> -->
          
          <!-- <h4 id="scatterChartHead">In 2014</h4> -->
          <!-- <h5 id="barChartHiHead">In 2016-Alphabetical Order</h5> -->


        <!-- </div> -->

        <!-- <div id="scatterChart1Div"></div> -->
        <!-- <svg width="1100" height="500" viewBox="0 0 1050 900" style="background-color: rgb(255, 255, 255)" id="chartSc"></svg> -->

        <!-- </foreignObject> -->
        <!-- </svg> -->
        <!-- <svg id="scatterChart1" width="1300" height="600"></svg> -->

      </div>
      <div id="tooltip-scatter1" class="hidden-scatter1">
              <p id="planet-info-scatter1">Planet Info</p>
      </div>

          <!-- <div id="tooltip-bub1" class="hidden-bub1">
            <p id="planet-info-bub1">Planet Info</p>
        </div> -->
    </div>

    <div>
      <br>
      <!-- <div id="scatterCol-sm-4" class="col-sm-4"> -->
        <!-- <div class="card" style="width: 18rem;"> -->
        <!-- <div id="scatterCard" class="card"> -->
          <!-- <div id="scatterCardBody" class="card-body"> -->
            <!-- <h4 id="card-name-scatter1" class="card-title">Generic Information</h4> -->
            <!-- <h6 class="card-subtitle mb-2 text-muted">Data</h6> -->
            <!-- <h6 id ="card-subtitle1" class="card-subtitle mb-2 text-muted" >Data</h6> -->
            <!-- <p id="card-desc-scatter1" class="card-text"> -->
              <!-- This data is about the number of countries at wars and the amount of international trade.  -->
              
              
            <!-- </p> -->
            <!-- <h6 id ="card-subtitle2" class="card-subtitle mb-2 text-muted">How to interact with this scatter chart</h6> -->
            <!-- <p id="card-desc2-scatter1" class="card-text"> -->
                <!-- By mouseovering the each scatter, you can check information about each point. -->
            <!-- </p> -->
            <!-- <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6>
            <p id="card-desc-scatter1" class="card-text">
              By mouseovering the each scatter. you can check information of each country.

            </p> -->


            
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>

  </div>
</div>


