<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <!-- <div class="und-col "style="min-height: 600px !important;"> -->
            <div class="und-col">
                <!-- <svg id="graph"> -->
                <!-- <foreignObject width="400" height="100" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
                <!-- <foreignObject width="1300" height="600" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
                <!-- <foreignObject width="1300" height="600" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"></foreignObject> -->

                <!-- <div class="container"> -->
                <!-- <h3 id="barChartHead">The 10 Countries Military Expenditure</h3>
                            <h5 id="barChartHiHead">In 2016-Alphabetical Order</h5> -->


                <!-- </div> -->
                <!-- </foreignObject> -->
                <div class="container">
                    <h3 id="barChartHead">Military Expenditure Share of GDP</h3>
                    <h5 id="barChartHiHead">In 2017-Alphabetical Order</h5>
                    <p>Filter
                        <!-- <button class="btn btn-default" id="res">Reset</button> -->
                        <button class="btn btn-default" id="all">10 countries</button>
                        <button class="btn btn-default" id="top">Top 5 countries</button>
                        <button class="btn btn-default" id="bot">Bottom 5 countries</button>
                        <button class="btn btn-default" id="res">Reset</button>

                    </p>
                    <p>Sort by
                        <button class="btn btn-default" id="alpha">alphabetical order</button>
                        <button class="btn btn-default" id="ascend">ascending order</button>
                        <button class="btn btn-default" id="descen">descending order</button>

                    </p>
                    <div id="chartlinemilgdp"></div>
                </div>

                <!-- </foreignObject> -->
                <!-- </svg> -->
            </div>
            <!-- <div id="tooltip" class="hidden">
                <p id="planet-info">Planet Info</p>
            </div> -->
        </div>

        <div>
            <div class="col-sm-4">
                <!-- <div class="card" style="width: 18rem;"> -->
                <div id="barCard" class="card">
                    <div id="barCardBody" class="card-body">
                        <h4 id="card-name-bar1" class="card-title">Generic Information</h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Data</h6> -->
                        <h6 id="card-subtitle1F" class="card-subtitle mb-2 text-muted">Data</h6>
                        <p id="card-desc-bar1F" class="card-text">
                            <!-- This data is about military expenditure for the 5 countries. Some information is from <a href="https://en.wikipedia.org/wiki/Military_budget">this wikipedia</a>
                                              U.S.A has the highest average. On the other hand, China has the lowest value among the 5 countries. -->

                            This data is about military expenditure of top spenders. The data set is provided by <a
                                href="https://www.sipri.org/databases">the
                                SIPRI.</a>

                        </p>
                        <h6 id="card-subtitle2F" class="card-subtitle mb-2 text-muted">How to interact with this bar
                            chart</h6>
                        <p id="card-desc2-bar1F" class="card-text">
                            By mouseovering each country name below the x axis, you can know which line is each country.
                            And if you want to see exact percentage on the each line in each year, please mousevoer on the line.
                            You can see a yellow point and corresponding value.
                        </p>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6>
                                            <p id="card-desc-bar1" class="card-text">
                                              By mouseovering the each bar. you can check information of each country.
                                
                                            </p> -->
                    </div>
                </div>
            </div>
        </div>

    </div>