<!-- Bubble clude -->
<div id="bubContainer" class="container">
    <div id="bubRow" class="row">
        <div id="bubCol-sm-8" class="col-sm-8">
            <!-- <div class="und-col "style="min-height: 600px !important;"> -->
            <div id="bub-und-col" class="und-col">
                <!-- <svg id="bubChart1" width=500 height=500> -->
                <!-- <foreignObject width="400" height="100" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
                <!-- <foreignObject width="1300" height="1000" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->

                <div id="bubInnerContainer" class="container">
                    <h3 id="bubChartHead">The Military Expenditure for 10 countries In 2017 </h3>
                    <h4> In current 2017 US$ billion </h4>
                    <!-- <h5 id="barChartHiHead">In 2016-Alphabetical Order</h5> -->


                </div>

                <div id="BubbleChart1Div"></div>

                <!-- </foreignObject> -->
                <!-- </svg> -->
                <!-- <svg id="bubChart1" width="1300" height="600"></svg> -->

            </div>
            <div id="tooltip-bub1" class="hidden-bub1">
                <p id="planet-info-bub1">Planet Info</p>
            </div>
        </div>

        <div>
            <div id="bubCol-sm-4" class="col-sm-4">
                <!-- <div class="card" style="width: 18rem;"> -->
                <div id="bubCard" class="card">
                    <div id="bubCardBody" class="card-body">
                        <h4 id="card-name-bub1" class="card-title">Generic Information</h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Data</h6> -->
                        <h6 id="card-subtitle1F" class="card-subtitle mb-2 text-muted">Data</h6>
                        <p id="card-desc-bub1F" class="card-text">
                            <!-- This data is about military expenditure for the 5 countries. Some information is from <a href="https://en.wikipedia.org/wiki/Military_budget">this wikipedia</a>
                                  U.S.A has the highest average. On the other hand, China has the lowest value among the 5 countries. -->

                            This data is about military expenditure of top spenders. The data set is provided by <a href="https://www.sipri.org/databases">the
                                SIPRI.</a>

                        </p>
                        <h6 id="card-subtitle2F" class="card-subtitle mb-2 text-muted">How to interact with this bub
                            chart</h6>
                        <p id="card-desc2-bub1F" class="card-text">
                            By mouseovering the each bub, you can check the military budget of 10 countries and that of others 
                        </p>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6>
                                <p id="card-desc-bub1" class="card-text">
                                  By mouseovering the each bub. you can check information of each country.
                    
                                </p> -->
                    </div>
                </div>
            </div>

        </div>
    </div>