
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="http://www-scf.usc.edu/~choi797/a8/index.html">Military Expenditure from 2007 to 2016</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://www-scf.usc.edu/~choi797/a8/index.html">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://www-scf.usc.edu/~choi797/a8/index.html">Link
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- <main role="main" class="container">
  <div class="jumbotron">
    <h1>Military Expenditure from 2007 to 2016</h1>
    <p class="lead">This dataset is provided by <a href="http://data.un.org/Default.aspx">UNdata</a>. Some information and dataset are from <a href="https://en.wikipedia.org/wiki/Military_budget">this wikipedia</a>
      This data includes each country's military expenditure(% of GDP and US$) from 1988 to 2016.
      In this website, I focus on 10 countries, which include Australia, Canada, China,
      France, Germany, India, Iran, Italy, Japan, and U.S.A from 2007 to 2016.
    </p>
    <a class="btn btn-lg btn-primary" href="http://data.un.org/Search.aspx?q=military+expenditure" role="button">View
      Military
      Expenditure dataset &raquo;</a>
  </div>
</main> -->


<main role="main" class="container">
  <div class="jumbotron">
    <h1>Military Expenditure from 2007 to 2016</h1>
    <p class="lead">This dataset and information are provided by <a href="http://data.un.org/Default.aspx">UNdata</a> and <a href="https://www.sipri.org/"> SIPRI</a>. Some information and dataset are from <a href="https://en.wikipedia.org/wiki/Military_budget">this wikipedia</a>
      The data from UNdata includes each country's military expenditure(% of GDP and US$) from 1988 to 2016. The <a href=" https://www.sipri.org/publications/2018/sipri-fact-sheets/trends-world-military-expenditure-2017"> information</a>  from SIPRI includes the share of military enpenditure in 2017.
      In this website, I focus on 10 countries, which include China, France, Germany, Great britain, India, Japan ,Russia, South Korea, and U.S.A from 2007 to 2017.
    </p>
    <a class="btn btn-lg btn-primary" href="http://data.un.org/Search.aspx?q=military+expenditure" role="button">View
      Military
      Expenditure dataset &raquo;</a>
  </div>
</main>




<!-- <div class="container">



  <div class="row">
    <div class="col-sm-6">
      <img class="card-img-top img-fluid" src="Indian-Military.jpg" alt="Planets in the solar system">
    </div>
    <div class="col-sm-6">
      <table class="table table-dark">
        <tbody>
          <tr>
            <th scope="row">Year:</th>
            <td>2016</td>
          </tr>
          <tr>
            <th scope="row">Number of Countries:</th>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row">The first rank in military spending:</th>
            <td>U.S.A</td>
          </tr>
          <tr>
            <th scope="row">The second rank in military spending:</th>
            <td>China</td>
          </tr>
          <tr>
            <th scope="row">The 9th rank in military spending:</th>
            <td>Germany(DEU)</td>
          </tr>
          <tr>
            <th scope="row">The 10th rank in military spending:</th>
            <td>South Korea(KOR)</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<br />
<br /> -->




<!-- Pie chart -->



<!-- Bubble clude -->



<!-- Line chart -->






<!-- My charts -->
<!-- a8 -->
<!-- <app-bubblechart-cir-pack></app-bubblechart-cir-pack> -->
<!-- <app-linechart></app-linechart> -->
<!-- <app-piechart></app-piechart> -->
<!-- a9 -->
<app-midsworldmap></app-midsworldmap>
<br>
<!-- <app-propo-world-map-in-mil-exp></app-propo-world-map-in-mil-exp> -->
<br>


<app-warworldmap></app-warworldmap>




<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4"> -->
  <!-- <a class="navbar-brand" href="http://www-scf.usc.edu/~choi797/a8/index.html">Military Expenditure from 2007 to 2016</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://www-scf.usc.edu/~choi797/a8/index.html">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://www-scf.usc.edu/~choi797/a8/index.html">Link
          <span class="sr-only">(current)</span>
        </a>
      </li>

    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div> -->
<!-- </nav> -->

<!-- <main role="main" class="container">
  <div class="jumbotron">
    <h1>Military Expenditure from 2007 to 2016</h1>
    <p class="lead">This dataset is provided by <a href="http://data.un.org/Default.aspx">UNdata</a>. Some information and dataset are from <a href="https://en.wikipedia.org/wiki/Military_budget">this wikipedia</a>
      This data includes each country's military expenditure(% of GDP and US$) from 1988 to 2016.
      In this website, I focus on 10 countries, which include Australia, Canada, China,
      France, Germany, India, Iran, Italy, Japan, and U.S.A from 2007 to 2016.
    </p>
    <a class="btn btn-lg btn-primary" href="http://data.un.org/Search.aspx?q=military+expenditure" role="button">View
      Military
      Expenditure dataset &raquo;</a>
  </div>
</main> -->


<!-- <main role="main" class="container">
  <div class="jumbotron">
    <h1>Population of each city in LA county</h1>
    <p class="lead">This dataset is provided by <a href="https://data.lacounty.gov/">LA county Open data</a>.
      By using this dataset, we can check which cities have small population.
      I show cities where population is smaller than 10000 in county of Los Angeles.
    </p>
    <a class="btn btn-lg btn-primary" href="https://data.lacounty.gov/browse?q=population&sortBy=relevance" role="button">View
      Population by City Name &raquo;</a>
  </div>
</main> -->

<!-- <app-choro-lacounty-map-in-popu></app-choro-lacounty-map-in-popu> -->
