<!-- worldPropble clude -->
<div id="worldPropContainer" class="container">
    <div id="worldPropRow" class="row">
        <div id="worldPropCol-sm-8" class="col-sm-8">
            <!-- <div class="und-col "style="min-height: 600px !important;"> -->
            <div id="worldProp-und-col" class="und-col">
                <!-- <svg id="pieChart1" width=500 height=500> -->
                <!-- <foreignObject width="400" height="100" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
                <!-- <foreignObject width="1300" height="1000" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
  
                
  
                <div id="worldPropInnerContainer" class="container">
                    <h3 id="worldPropChartHead">The share of world military expenditure (%) using Proportional Symbol Map</h3>
                    <h4>  In 2017</h4>
  
                    <svg id="worldProp" width="1000" height="600" style="background-color: white"></svg>
                    
  
  
                </div>
  
                <!-- <div id="worldPropbleChart1Div"></div> -->
  
                <!-- </foreignObject> -->
                <!-- </svg> -->
                <!-- <svg id="pieChart1" width="1300" height="600"></svg> -->
  
            </div>
            <!-- <div id="tooltip-worldProp1" class="hidden-worldProp1">
                <p id="planet-info-worldProp1">Planet Info</p>
            </div> -->
        </div>
  
        <div>
            <div id="worldPropCol-sm-4" class="col-sm-4">
                <!-- <div class="card" style="width: 18rem;"> -->
                <div id="worldPropCard" class="card">
                    <div id="worldPropCardBody" class="card-body">
                        <h4 id="card-name-worldProp1" class="card-title">
                            Description 
                        </h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6> -->
                        <p id="card-desc-worldProp1" class="card-text">
                          The share of U.S.A has about 35%. Compared to other countries, it has a big circle. In asia, the circle size of China is biggest.
                          In Europe, three countries, which are France, Germany, and Great britain, show the circles. Based on their circle sizes, we can know their shares are smaller than that of china and U.S.A.
  
                        </p>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
  </div>
  
  
  
  
  
  