<!-- warworldble clude -->
<div id="warworldContainer" class="container">
  <div id="warworldRow" class="row">
      <div id="warworldCol-sm-8" class="col-sm-8">
          <!-- <div class="und-col "style="min-height: 600px !important;"> -->
          <div id="warworld-und-col" class="und-col">
              <!-- <svg id="pieChart1" width=500 height=500> -->
              <!-- <foreignObject width="400" height="100" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
              <!-- <foreignObject width="1300" height="1000" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->

              

              <div id="warworldInnerContainer" class="container">
                  <h3 id="warworldChartHead">Wars from #### to ####</h3>
                  <!-- <h4>  In 2017</h4> -->

                  <svg id="warworld" width="1000" height="600" style="background-color: white"></svg>
                  


              </div>

              <!-- <div id="warworldbleChart1Div"></div> -->

              <!-- </foreignObject> -->
              <!-- </svg> -->
              <!-- <svg id="pieChart1" width="1300" height="600"></svg> -->

          </div>
          <!-- <div id="tooltip-warworld1" class="hidden-warworld1">
              <p id="planet-info-warworld1">Planet Info</p>
          </div> -->
      </div>

      <div>
          <div id="warworldCol-sm-4" class="col-sm-4">
              <!-- <div class="card" style="width: 18rem;"> -->
              <div id="warworldCard" class="card">
                  <div id="warworldCardBody" class="card-body">
                      <h4 id="card-name-warworld1" class="card-title">
                          Description 
                      </h4>
                      <!-- <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6> -->
                      <p id="card-desc-warworld1" class="card-text">
                          The share of U.S.A has about 35%. Compared to other countries, it has dark blue. In asia, the color of China is bluer than the color of other countries near it.
                          In Europe, three countries, which are France, Germany, and Great britain, show the color. Based on their color, we can know their shares are smaller than that of U.S.A and china.
                      </p>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>





