<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <!-- <div class="und-col "style="min-height: 600px !important;"> -->
            <div class="und-col">

               <div class="container">
                    <!-- <h3 id="barChartHead">The 10 Countries Military Expenditure</h3>
                            <h5 id="barChartHiHead">In 2016-Alphabetical Order</h5> -->

                   
                        <!-- <button class="btn btn-default" id="res">Reset</button> -->
                        <button class="btn btn-default" id="all">10 countries</button>
                        <button class="btn btn-default" id="top">Top 5 countries</button>
                        <button class="btn btn-default" id="bot">Bottom 5 countries</button>
                        <button class="btn btn-default" id="res">Reset</button>

              
                
                        <button class="btn btn-default" id="alpha">alphabetical order</button>
                        <button class="btn btn-default" id="ascend">ascending order</button>
                        <button class="btn btn-default" id="descen">descending order</button>
                        <h3 id="barChartHead">The 10 Countries Military Expenditure</h3>
                        <h5 id="barChartHiHead">In 2016-Alphabetical Order</h5>

                 
                </div>

                <div id="chart"></div>

            </div>
            <!-- <div id="tooltip" class="hidden">
                <p id="planet-info">Planet Info</p>
            </div> -->
        </div>

        <div>
            <div class="col-sm-4">
                <!-- <div class="card" style="width: 18rem;"> -->
                <div class="card">
                    <div class="card-body">
                        <h4 id="card-name" class="card-title">Description</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6>
                        <!-- <p id="card-desc" class="card-text">Mouse over bars for quick facts. -->
                        <!-- <br />
                            <br />
                            <br /> -->

                        U.S.A spent about 3.5% of its GDP on its military.
                        On the other hand, Japan only spent about 1% of GDP. Iran is
                        Second ranked. Except for the U.S.A, France is first ranked among western countries.
                        Top 5 countries are U.S.A, Iran, India, France, and Australia.
                        Bottom 5 countries are Canada, China, Germany, Italy, Japan.
                        <!-- </p> -->
                        <!-- <a href="#" class="card-link">Card link</a> -->
                        <!-- <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
        </div>

    </div>


    <br>















</div>




















<!-- worldMidble clude -->
<div id="worldMidContainer" class="container">
    <div id="worldMidRow" class="row">
        <div id="worldMidCol-sm-8" class="col-sm-8">
            <!-- <div class="und-col "style="min-height: 600px !important;"> -->
            <div id="worldMid-und-col" class="und-col">
                <!-- <svg id="pieChart1" width=500 height=500> -->
                <!-- <foreignObject width="400" height="100" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
                <!-- <foreignObject width="1300" height="1000" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->



                <div id="worldMidInnerContainer" class="container">
                    <h3 id="worldMidChartHead">Militarized Interstate Disputes from #### to ####</h3>
                    <!-- <h4>  In 2017</h4> -->

                    <svg id="worldMid" width="1000" height="600" style="background-color: white"></svg>



                </div>

                <!-- <div id="worldMidbleChart1Div"></div> -->

                <!-- </foreignObject> -->
                <!-- </svg> -->
                <!-- <svg id="pieChart1" width="1300" height="600"></svg> -->

            </div>
            <div id="tooltip-mid" class="hidden-mid">
                <p id="country-info-mid">Country Info</p>
            </div>
        </div>

        <div>
            <div id="worldMidCol-sm-4" class="col-sm-4">
                <!-- <div class="card" style="width: 18rem;"> -->
                <div id="worldMidCard" class="card">
                    <div id="worldMidCardBody" class="card-body">
                        <h4 id="card-name-mid" class="card-title">
                            Description
                        </h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6> -->
                        <p id="card-desc-mid" class="card-text">
                            The share of U.S.A has about 35%. Compared to other countries, it has dark blue. In asia,
                            the color of China is bluer than the color of other countries near it.
                            In Europe, three countries, which are France, Germany, and Great britain, show the color.
                            Based on their color, we can know their shares are smaller than that of U.S.A and china.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>