<br><br>
<h2>
  Pie Chart showing Top 5 countries based on Composite Index of National Capability (CINC) Score in 1945
</h2>

<div class='card bg-light mb-4' style='max-width: 18rem; display: inline-block'>
  <div class='card-header'>{{ header }}</div>
  <div class='card-body'>
    <h5 class='card-title'>{{ title }}</h5>
    <p class='card-text'>{{ content }}</p>
  </div>
</div>
<div style='display: inline-block'>
  <svg id='chart-svg07' width='1400' height='700'></svg>
</div>

<div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Description and Usage
                        </h4>
                        <p class="card-text">
                          The Composite Index of National Capability (CINC) of the countries is represented in the form of a interactive pie chart.
                          When the mouse hovers over a sector of the pie chart, the CINC Score of that particular country is shown.
                          The top 5 countries in 1945 are United States of America, Russia, China, United Kingdom and Germany.
                        </p>
                    </div>
                </div>
